.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}

.login {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.login h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 2rem;
  text-align: center;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login label {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.login input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 20px;
  width: 100%;
}

.login button {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login button:hover {
  background-color: #646464;
}

.login p {
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
}
